<h1>Login</h1>
<form action="/api/auth-tokens" method="post">
  <label>
    Email <input type="email" name="email" id="email">
  </label>
  <label>
    Password <input type="password" name="password" id="password">
  </label>
  <button type="submit">Login</button>
</form>